<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UsbPrnControl.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="UsbPrnCommand.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <UsbPrnControl.Properties.Settings>
            <setting name="CodePage" serializeAs="String">
                <value>866</value>
            </setting>
            <setting name="CPDescString" serializeAs="String">
                <value>Codepages list: https://msdn.microsoft.com/en-us/library/system.text.encoding(v=vs.110).aspx</value>
            </setting>
            <setting name="GUID_PRINT" serializeAs="String">
                <value>28D78FAD-5A12-11D1-AE5B-0000F803A8C2</value>
            </setting>
            <setting name="checkBox_hexCommand" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="textBox_command" serializeAs="String">
                <value />
            </setting>
            <setting name="checkBox_hexParam" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="textBox_param" serializeAs="String">
                <value />
            </setting>
            <setting name="GUID_SCAN" serializeAs="String">
                <value>5B51A523-CEAD-4468-99DD-BF85B80E0A64</value>
            </setting>
            <setting name="USBReadInterval" serializeAs="String">
                <value>1000</value>
            </setting>
        </UsbPrnControl.Properties.Settings>
        <UsbPrnCommand.Properties.Settings>
            <setting name="CodePage" serializeAs="String">
                <value>866</value>
            </setting>
            <setting name="CPDescString" serializeAs="String">
                <value>Codepages list: https://msdn.microsoft.com/en-us/library/system.text.encoding(v=vs.110).aspx</value>
            </setting>
            <setting name="GUID" serializeAs="String">
                <value>28D78FAD-5A12-11D1-AE5B-0000F803A8C2</value>
            </setting>
        </UsbPrnCommand.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
